# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
#*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
#*.a
#*.lib

# Executables
#*.exe
*.out
*.app

#ios
*.DS_Store
*.xcworkspacedata
*.xcscheme
*.xcuserstate

#windows
*.suo
*.user

/Common/bin/
/RemoteObject/bin/
/WindMusicApp/bin/
/WindMusicPlugin/bin/
/WindTestPluginApp/bin/
/Common/obj/
/RemoteObject/obj/
/WindMusicApp/obj/
/WindMusicPlugin/obj/
/WindTestPluginApp/obj/

